{% extends 'base_layout.html' %}
{% block header %}
    {{ super() }}
    <title>Admin Options</title>
{% endblock %}

{% block body %}
    {{ super() }}
    <h1>Admin Options</h1>
    <form action="/export-tables" method="post">
        <button>Export all database tables</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}