{% extends "base_layout.html" %}
{% block additional_header_content %}
    <style>
        body {
            display: flex;
            flex-direction: row;
            min-width: 100vw;
            min-height: 100vh;
            margin: 0;
        }

        main {
            padding: 1em;
        }

        .top-navigation-bar {
            display: none;
        }

        .top-navigation-bar label:hover {
            color: unset;
            text-decoration: unset;
        }

        #menu-toggle {
            display: none;
        }

        #menu-toggle:checked ~ .portrait-nav {
            display: flex;
            flex-direction: column;

            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--background-color);
        }


        .landscape-nav {
            width: 14em;

            box-sizing: border-box;
            border-right: 1px solid var(--primary-color);

            display: flex;
            flex-direction: column;

            padding: 1em;
        }

        .portrait-nav {
            display: none;
        }

        .portrait-nav-content {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        nav a:hover {
            text-decoration: underline;
        }

        nav a {
            color: var(--primary-color);
            text-decoration: none;
        }

        nav li {
            padding: 0.5em 0;
            color: var(--primary-color);
            text-decoration: none;
        }

        nav ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        nav label:hover {
            cursor: pointer;
            text-decoration: underline;
            color: var(--accent-color-secondary);
        }

        nav .nav-selected-link {
            color: var(--accent-color-primary);
        }

        .submenu {
            padding-left: 1rem;
        }


        @media (max-width: 800px) {
            body {
                flex-direction: column;
            }

            .landscape-nav {
                display: none !important;
            }

            .top-navigation-bar {
                display: flex !important;
                padding: 0 1em;
            }

            .top-navigation-bar label {
                cursor: pointer;
            }
        }

        /* MARK: navigation item submenus */

        .submenu-1 {
            display: none;
        }

        #menu-item-1-portrait {
            display: none;
        }

        #menu-item-1-portrait:checked ~ .submenu-1 {
            display: block;
        }

        #menu-item-1-landscape {
            display: none;
        }

        #menu-item-1-landscape:checked ~ .submenu-1 {
            display: block;
        }

    </style>
{% endblock %}

