<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Classes</title>
    <meta name="description" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<h1>Your Classes</h1>

<h2>Fall 2024</h2>

<ul>
{#    TODO dynamically generate content #}
    <li>
        <a href="#">CPSC 408</a>
    </li>
    <li>
        <a href="#">CPSC 236</a>
    </li>
    <li>
        <a href="#">GAME 242</a>
    </li>
    <li>
        <a href="#">SE 300</a>
    </li>
    <li>
        <a href="#">SE 310</a>
    </li>
    <li>
        <a href="#">CHIN 347</a>
    </li>
</ul>

<br>
<p>
    <a href="#">View past classes</a>
</p>

<p class="footer">
    Signed in as Brendan (brechen@chapman.edu)
    <br>
    <a href="sign-in.html">
        Sign out
    </a>
</p>

<script src="app.js"></script>

</body>

</html>
