<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Classes</title>
    <meta name="description" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<h1>Your Classes</h1>

{% for course_term in course_terms_with_courses %}

    <h2>{{ course_term.title }}</h2>

    <ul>
        {% for course in course_term.courses %}

        <li>
            <a href="{{ course.starting_url_path }}">{{ course.user_friendly_class_code }} - {{ course.title }}</a>
        </li>

        {% endfor %}
    </ul>

{% endfor %}

{% if course_terms_with_courses is not defined or course_terms_with_courses|length == 0 %}
<p>No courses to display.</p>
{% endif %}

<br>

<p class="footer">
    Signed in as Brendan (brechen@chapman.edu)
    <br>
    <a href="sign-in.html">
        Sign out
    </a>
</p>

<script src="app.js"></script>

</body>

</html>
